<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959962573771-ot4f2f880nackk16cqpibn30u18dc2pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959962573771-ot4f2f880nackk16cqpibn30u18dc2pr</string>
	<key>API_KEY</key>
	<string>AIzaSyDG12NqL-yqencnGlNeekkXrBaAXaSzMmE</string>
	<key>GCM_SENDER_ID</key>
	<string>959962573771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tellCraft</string>
	<key>PROJECT_ID</key>
	<string>tellcraft-ab21f</string>
	<key>STORAGE_BUCKET</key>
	<string>tellcraft-ab21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959962573771:ios:34996fe9cdb3c68012244e</string>
</dict>
</plist>